<form nz-form #loginForm="ngForm" role="form" novalidate (ngSubmit)="login()" method="post" [@routerTransition]>
  <nz-tabset [nzAnimated]="false" class="tabs">
    <nz-tab nzTitle="账户密码登录">
      <!-- 账号 -->
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-user">
            <input nz-input [(ngModel)]="loginService.authenticateModel.userNameOrEmailAddress"
              #userNameOrEmailAddressInput="ngModel" name=" userNameOrEmailAddress" [placeholder]="l('UserNameOrEmail')"
              required maxlength="255">
          </nz-input-group>
          <nz-form-explain *ngIf="userNameOrEmailAddressInput.dirty && userNameOrEmailAddressInput.errors"> 请输入用户名！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <!--密码 -->
      <nz-form-item>
        <nz-form-control>
          <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
            <input nz-input [(ngModel)]="loginService.authenticateModel.password" 
              #passwordInput="ngModel" name="password"
              type="password" [placeholder]="l('Password')" required maxlength="255">
          </nz-input-group>
          <nz-form-explain *ngIf="passwordInput.dirty && passwordInput.errors"> 请输入密码！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </nz-tab>
  </nz-tabset>
  <!--记住我和忘记密码 -->
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label nz-checkbox [(ngModel)]="loginService.rememberMe" name="rememberMe" id="rememberme">
        <span>{{l("RememberMe")}}</span>
      </label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a routerLink="/account/forgot-password" class="forgot">{{l("ForgotPassword")}}</a>
    </nz-col>
  </nz-form-item>
  <!-- 登陆按钮 -->
  <nz-form-item>
    <button nz-button nzType="primary" nzSize="large" type="submit" [nzLoading]="loading" class="submit" [disabled]="!loginForm.form.valid||logining"
      nzBlock>
      <span>{{l("LogIn")}}</span>
    </button>
  </nz-form-item>
</form>
<!-- 注册 -->
<div class="other">
  <span *ngIf="isSelfRegistrationAllowed">
    <a routerLink="/account/register">{{l("Register")}}</a>
    <nz-divider nzType="vertical"></nz-divider>
  </span>
  <!-- 租户注册 -->
  <span *ngIf="!appSession.tenantId">
    <a routerLink="/account/tenant-register">{{l("CreateNewTenant")}}</a>
    <nz-divider nzType="vertical"></nz-divider>
  </span>
  <!-- //todo: 等待有缘人帮我们完善吧 -->
  <span>
    <a routerLink="/account/email-activation">{{l("EmailActivation")}}</a>
  </span>
</div>